@mixin card_mixin(){
  background-color: $bg-color;
  border-radius: 4px;
  border: 1px solid rgb(131, 118, 118) ;
}
@mixin card_mixin_v2($bg:$bg-color){
  background-color: $bg;
  border-radius: 4px;
  border: 1px solid rgb(131, 118, 118) ;
}
.card{
  @include card_mixin_v2();
}
.car_with_bg{
  @include card_mixin_v2(red);
}